Imports

In [31]:
import pandas as pd
import numpy as np

Load the data

In [55]:
train = pd.read_csv('../../data/train.csv')
test = pd.read_csv('../../data/test.csv')
train

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X56,X57,X58,X59,X60,X61,X62,X63,X64,TARGET
0,A1,0.004513,0.59322,0.050671,1.08540,-233.820,0.00903,0.008017,0.62108,1.01810,...,0.017824,0.012250,0.98218,0.00000,1.4846,7.7253,275.850,1.3232,2.2043,0
1,A3,0.009384,0.21804,0.528450,3.42360,31.312,-0.21350,0.009530,3.49980,0.99865,...,-0.001349,0.012297,1.00130,0.00000,7.2205,7.6368,34.577,10.5560,9.0793,0
2,A4,-0.029314,0.89582,0.024423,1.04590,-74.655,0.00000,-0.034399,0.11629,1.26320,...,0.035999,-0.281400,1.02720,3.43670,4.8869,4.8991,153.720,2.3745,2.8477,0
3,A6,-0.201010,1.14050,-0.234190,0.79466,-41.678,-1.54010,-0.201010,-0.12318,7.22300,...,-0.005083,1.430800,1.02780,0.00000,17.0460,24.0750,57.632,6.3333,77.0810,0
4,A7,0.094373,0.24853,0.679850,3.73550,156.550,0.00000,0.124870,3.02360,1.31060,...,0.128590,0.125590,0.90613,0.00000,7.2914,13.5800,69.214,5.2735,18.3010,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4132,A5904,-0.272230,0.32789,0.533430,2.62680,64.808,-1.02410,-0.272230,2.04980,1.33990,...,-0.202940,-0.405030,1.20320,0.00000,5.3476,2.7891,89.323,4.0863,9.6618,0
4133,A5905,0.059593,0.65904,0.049671,1.11910,-36.758,0.11068,0.059593,0.48762,1.09860,...,0.089790,0.185440,0.91021,0.75349,8.3641,4.4477,133.560,2.7328,2.1357,0
4134,A5907,0.007439,0.84851,0.101600,1.21590,-16.338,0.11702,0.016560,0.17854,1.87930,...,0.042288,0.049105,0.99125,2.21740,11.1000,5.7689,91.409,3.9931,4.3936,0
4135,A5908,0.006652,0.62545,0.146540,1.25070,-65.204,0.00000,0.016661,0.59885,1.97960,...,0.025533,0.017759,0.99159,0.10712,4.3001,8.7512,107.770,3.3869,7.3594,0
4136,A5910,0.007223,0.63304,-0.097917,0.84532,-93.360,-0.12980,0.007223,0.57967,1.67430,...,-0.004905,0.019682,0.99585,0.00000,5.0694,8.2175,138.010,2.6448,3.6015,0

List the categorical variables

In [45]:
# Features types
cat_cols = train.select_dtypes(include=['object', 'category']).columns
cat_cols

Index(['ID', 'X21', 'X43', 'X55'], dtype='object')

Check that there is no column in test with missing values that have no missing values in train

In [34]:
train_cols_with_missing = set(train.columns[train.isna().any()].tolist())
test_cols_with_missing = set(test.columns[test.isna().any()].tolist())
print(test_cols_with_missing - train_cols_with_missing)

set()

Change missing values in categorical columns to 'NA'

In [56]:
cat_cols = train.select_dtypes(include=['object', 'category']).columns
train[cat_cols] = train[cat_cols].fillna('NA')
test[cat_cols] = test[cat_cols].fillna('NA')

Remove the wows with more than 3 missing values

In [50]:
# Count how many missing values each row has
missing_per_row = train.isna().sum(axis=1)
# Create a table of how many rows have 0, 1, 2, ... missing values
missing_counts_table = missing_per_row.value_counts().sort_index()
missing_counts_table

0     2138
1     1539
2      211
3      108
4       39
5       35
6       16
7       24
8        8
9        4
12       1
14       6
15       3
17       1
20       1
27       1
32       1
41       1
Name: count, dtype: int64

Remove the rows with more missing values

In [58]:
# Check the rows
rows_with_many_nans = train[train.isna().sum(axis=1) >= 20]
original = len(train)
# Remove them
train = train[train.isna().sum(axis=1) < 20]
removed = len(train)
print(f"Original number of rows: {original}; Remaining number of rows: {removed}")

Original number of rows: 4137; Removed rows: 4133

Do the same with test

In [59]:
# Count how many missing values each row has
missing_per_row = test.isna().sum(axis=1)
# Create a table of how many rows have 0, 1, 2, ... missing values
missing_counts_table = missing_per_row.value_counts().sort_index()
missing_counts_table

0     921
1     668
2      83
3      55
4      14
5      15
6       6
7       3
8       2
9       1
14      1
19      1
20      3
Name: count, dtype: int64

As the threshold is 20 then no need to remove but.... I leave the code if necessary